{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="flexbox-container">
    <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="col-md-4 col-10 box-shadow-2 p-0">
            <div class="card border-grey border-lighten-3 m-0">
                <div class="card-header border-0">
                    <div class="card-title text-center">
                        <img style="max-width:240px;" width="100%" src="{% static 'images/logo-dark.png' %}" alt="Panel">
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form class="form-horizontal" action="{% url 'signin' %}" method="POST">
                            {%csrf_token%}
                            {{form.as_p}}
                            <button type="submit" class="btn btn-danger btn-block btn-lg"><i class="la la-unlock-alt"></i> GİRİŞ</button>
                        </form>
                    </div>
                </div>
                <div class="card-footer border-0">
                    <p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2 my-1">
                        <span>© 2022 | All rights reserved.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}