{% extends "base.html" %}

{% block content %}
<table id="hesaplar" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Yontem</th>
            <th>Banka</th>
            <th>Hesap</th>
            <th>Hesap Sahibi</th>
            <th>Aktif/Pasif</th>
            <th>Secenekler</th>
        </tr>
    </thead>
    <tbody>
        {% for hesap in hesaplar %}
        <tr>
            <td>{{ hesap.yontem }}</td>
            <td>{{ hesap.banka_adi }}</td>
            <td>{{ hesap.hesap_no }}</td>
            <td>{{ hesap.ad }} {{ hesap.soyad }}</td>
            <td>{{ hesap.durum }}</td> 
            <td>
                <a class="btn btn-primary btn-xs" href="/account/default/view?id=1024" title="Görüntüle">
                    <i class="fa fa-eye"></i>
                </a> 
                <a class="btn btn-warning btn-xs" href="/account/default/update?id=1024" title="Güncelle">
                    <i class="fa fa-edit"></i>
                </a>
                <a class="btn btn-success btn-xs" href="/account/default/publish?id=1024" title="Yayında" data-method="POST" data-confirm="Are you sure you want to unpublish this item?">
                    <i class="fa fa-check"></i>
                </a>
                <a class="btn btn-danger btn-xs" href="/account/default/delete?id=1024" title="Sil" data-confirm="Bu veriyi silmek istediğinizden emin misiniz?" data-method="POST">
                    <i class="fa fa-remove"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>Yontem</th>
            <th>Banka</th>
            <th>Hesap</th>
            <th>Hesap Sahibi</th>
            <th>Aktif/Pasif</th>
            <th>Secenekler</th>
        </tr>
    </tfoot>
</table>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedheader/3.2.2/css/fixedHeader.dataTables.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
    // Setup - add a text input to each footer cell
    $('#hesaplar thead tr')
        .clone(true)
        .addClass('filters')
        .appendTo('#hesaplar thead');
 
    var table = $('#hesaplar').DataTable({
        orderCellsTop: true,
        fixedHeader: true,
        initComplete: function () {
            var api = this.api();
 
            // For each column
            api
                .columns()
                .eq(0)
                .each(function (colIdx) {
                    // Set the header cell to contain the input element
                    var cell = $('.filters th').eq(
                        $(api.column(colIdx).header()).index()
                    );
                    var title = $(cell).text();
                    $(cell).html('<input type="text" placeholder="' + title + '" />');
 
                    // On every keypress in this input
                    $(
                        'input',
                        $('.filters th').eq($(api.column(colIdx).header()).index())
                    )
                        .off('keyup change')
                        .on('keyup change', function (e) {
                            e.stopPropagation();
 
                            // Get the search value
                            $(this).attr('title', $(this).val());
                            var regexr = '({search})'; //$(this).parents('th').find('select').val();
 
                            var cursorPosition = this.selectionStart;
                            // Search the column for that value
                            api
                                .column(colIdx)
                                .search(
                                    this.value != ''
                                        ? regexr.replace('{search}', '(((' + this.value + ')))')
                                        : '',
                                    this.value != '',
                                    this.value == ''
                                )
                                .draw();
 
                            $(this)
                                .focus()[0]
                                .setSelectionRange(cursorPosition, cursorPosition);
                        });
                });
        },
    });
});
</script>
{% endblock %}